@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: $pale-blue;
}
