body {
  background: url("../img/bg-mobile.svg") no-repeat center center fixed;
  background-size: cover;
  position: relative;

  @include desktop {
    background: url("../img/bg-desktop.svg") no-repeat center 120% fixed;
    background-size: 100%;
    background-color: $very-dark-blue;
  }
}
.bg {
  height: 97vh;

  // flexbox
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  @include desktop {
    text-align: center;
    width: 100%;
  }
}
%card {
  width: 270px;
  background-color: $dark-blue;
  padding: 30px;
  border-radius: 10px;

  @include desktop {
    display: inline-block;
  }
}

.options {
  @extend %card;
  margin-bottom: 20px;
  border-top-right-radius: 120px;

  @include desktop {
    width: 310px;
  }

  &__logo {
    display: block;
    text-align: start;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &_buttons {
    margin-bottom: 10px;

    // flexbox
    display: flex;
    flex-direction: row;
  }

  @include desktop {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.info {
  @extend %card;
  text-align: center;
  position: relative;

  @include desktop {
    text-align: start;
    width: 450px;

    // flexbox
    align-self: flex-end;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 20px;
  }
  &__bold {
    font-weight: 700;
  }
  &__storage-bar {
    margin-bottom: 20px;
  }
  &__bar {
    width: 100%;
    height: 20px;
    border-radius: 25px;
    background-color: hsla(229, 57%, 11%, 0.4);
    margin-bottom: 10px;

    &-gradient {
      border-radius: 25px;
      width: 70%;
      height: 70%;
      background-image: $gradient;
      position: relative;
      top: 15%;
      left: 2%;

      @include desktop {
        left: 1%;
      }

      &-circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: white;
        position: relative;
        top: 15%;
        left: 93%;

        @include desktop {
          left: 96%;
        }
      }
    }
  }

  &__storage {
    // flexbox
    display: flex;
    justify-content: space-between;
  }
  &__m {
    font-size: 0.8rem;
  }
  &__restant {
    position: absolute;
    width: 190px;
    height: 80px;
    left: calc(50% - 95px);
    bottom: -40px;
    background-color: white;
    color: $very-dark-blue;
    font-weight: 700;
    border-radius: 10px;

    // flexbox
    display: flex;
    justify-content: center;
    align-items: center;

    @include desktop {
      left: calc(60%);
      bottom: calc(100% - 40px);
    }

    &-number {
      font-size: 2.6rem;
      margin-right: 10px;
    }

    &-l {
      color: $grayish-blue;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
  }
}
